<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Env</title>
    <style>
        body{
            margin: 100px auto;
            text-align: center;
            font-size: larger;
        }
    </style>
</head>
<body>
   <h1>Music Generation</h1>
    <div class="formDiv">
        <form action="/result" method="POST">
            <label>Select the Keynote</label>
            <select style="min-width: 100px;" id="start_string" name="start_string"> 
                <option tabindex="0" value="A">a</option>
                <option tabindex="1" value="B">b</option >
                <option tabindex="2" value="C">c</option>
                <option tabindex="3" value="D">d</option>
                <option tabindex="4" value="E">e</option>
                <option tabindex="5" value="F">f</option>
                <option tabindex="6" value="G">g</option>
                <option tabindex="7" value="XX">x</option>
            </select>
            <br />
            <br />
        <button type="submit">Generate</button>
        </form>
    </div>
</body>
</html>